:root {
    --color: rgb(70,70,70);
    --color-hover: rgb(35, 35, 35);
    --background-color: rgb(248, 248, 248);
}
body {
    font-family: 'Open Sans';
    color: var(--color);
    background-color: var(--background-color);
}
.content {
    margin-left: 30vh;
    width: 40vw;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a {
    color: var(--color);
}
a:hover {
    color: var(--color-hover);
    font-weight: bold;
}
figcaption {
    margin-left: 20px;
    font-style: italic;
}
img {
    width: 35vw;
}